@model IEnumerable<ViewModels.MostrarPedidoViewModel>

@{
    ViewData["Title"] = "Todos los Pedidos";
}

<h1> @ViewData["Title"] </h1>

<p>
    <a asp-action="Alta">Nuevo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleCorto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @* <th>
                @Html.DisplayNameFor(Model => Model.NombreCadete)
            </th> *@
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var ped in Model) {
        <tr>
            <td>
                @ped.Id
            </td>
            <td>
                @ped.DetalleCorto
            </td>
            <td>
                @ped.NombreCliente
            </td>
              <td>
                @ped.Direccion
            </td>
            <td>
                @ped.Estado
            </td>
            @* <td>
                @ped.NombreCadete
            </td> *@
            <td>
                <a asp-action="AsignarCadete" asp-route-id="@ped.Id"> Asignar/Cambiar </a>
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@ped.Id"> Editar </a> |
                @* <a asp-action="DatosCliente" asp-route-id="@ped.Id"> Detalles </a> | *@
                <a asp-action="ConfirmacionBorrar" asp-route-id="@ped.Id"> Borrar </a>
            </td>
        </tr>
}
    </tbody>
</table>